body {
    text-align: center;
    background-color: lightblue;
    font-family: Arial;
    background-image: url(../images/back2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
h1 {
    background-color: cyan;
    border-style: solid;
    border-color: orange;
    border-width: 10px;
    box-shadow: 7px 7px;
    width: 1200px;
    margin: auto;
}
p:hover {
    background-color: cyan;
}
h3:hover {
    background-color:  cyan;
}
p, h3 {
    border-style: solid;
    border-color: darkcyan;
    border-width: 3px;
    box-shadow: 5px 5px;
    background-color: orange;
    width: 750px;
    margin: auto;
}
img {
    border-style: solid;
    border-width: 5px;
    border-color: grey;
    box-shadow: 5px 5px;
}
h4 {
    color: white;
}